$Primary-color: #dc36ad;
$Light-Primary-color: #dc36a4;
$Lighter-Primary-color: #d3137b;
$Dark_primary-color: #901b70;
$Border-color-2: #dc36a3;
$White-color: #fff;
$Black-color: #000;
$Grey-color: #ebecf0;
$Grey-text: #636363;
$Border-color: #dfdfdf;

// New Colors
$Green-color: #CAFF33;
$Pink-color: #F6217B;



// Primary color with alpha value
$Primary-color-0: rgba($Primary-color, 0);
$Primary-color-1: rgba($Primary-color, 0.1);
$Primary-color-2: rgba($Primary-color, 0.2);
$Primary-color-3: rgba($Primary-color, 0.3);
$Primary-color-4: rgba($Primary-color, 0.4);
$Primary-color-5: rgba($Primary-color, 0.5);
$Primary-color-6: rgba($Primary-color, 0.6);
$Primary-color-7: rgba($Primary-color, 0.7);
$Primary-color-8: rgba($Primary-color, 0.8);
$Primary-color-9: rgba($Primary-color, 0.9);

// Card Background
$Card-bg: rgba(0, 0, 0, 0.72);
